*{
	margin: 0px;
	padding: 0px;
}
.flex-container{
	display: flex;
	font-size: 46px;
	flex-flow: column wrap;
	justify-content: space-around;
}
.flex-item{
	padding: 10px;
}
.hd{
	display: flex;
	height: 44px;
	flex-flow: row nowrap;
	color: #fff;
	background-color: #91D4DA;
}
.hd0{
	width: 30px;
	vertical-align: middle;
}
.hd1{
	display: inline-block;
	width: 130px;
	vertical-align: middle;
}
.hd2{
	display: inline-block;
	width: 920px;
	text-align: center;
	vertical-align: middle;
}
.nav{
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	text-align: center;
}
.active{
	border-bottom: 3px solid blue;

}
.label{
	margin-top: 30px;
}
.nav1{
	width: 150px;
	height: 100px;
	padding: 10px 50px;
	margin: 0px auto;
	
}
.label{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: center;
}
.line{
	width: 90%;
	height: 2px;
	background-color: #ccc;
	margin: 20px auto;

}
.fenlan{
	width: 100%;
	padding: 30px;
	margin: 0px auto;
	text-align: center;
}
.fenlan1{
	display: inline-block;
	padding: 20px 80px 20px 60px;
}
.fl1{
	border-right: 5px solid #ccc;
}
.fl2{
	margin-bottom: 40px;
}
.line1{
	height: 20px;
	margin-top: 1px;
}
.model1{
	width: 90%;
	margin: 0px auto;
}
.line2{
	width: 100%;
}
.left{
	display: inline-block;
	vertical-align: top;
}
.left img{
	display: block;
	margin-bottom: 20px;

}
.right{
	display: inline-block;
}
.right1{
	display: inline-block;
}
.right2{
	display: inline-block;
}
.wenAn{
	width: 350px;
	padding: 30px 50px;
	line-height: 50px;
	margin-bottom: 26px;
	background-color: #ccc;
}
.line3{
	width: 100%;
	height: 20px;
}
.arti{
	margin: 0px 80px;
	text-align: left;
}
.arti img{
	display: inline-block;
	vertical-align: top;
}
.tit{
	display: inline-block;
}
.title{
	vertical-align: top;
	margin-bottom: 130px;
}
.foot{
	color: #ccc;
	font-size: 36px;
}
.too{
	margin: 0px 80px;
	text-align: left;
}

@media (max-width: 640px){
	.hd1{
		flex: 1 3 40%;
	}
	.hd2{
		flex: 1 3 60%;
	}
	.nav1{
		flex:1 3 20%;
	}
	.num1{
		flex: 1 3 33.33%;
	}
	.num2{
		flex: 1 3 33.33%;
	}
	.num3{
		flex: 1 3 33.33%;
	}
	.left img{
		flex:1 3 33.33%;
	}
	.wenAn{
		flex:1 3 33.33%;
	}
	
}